.checkout {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 1340px;
  margin: auto;
  margin-top: 40px;
  
    & .ant-input::placeholder {
      color: $color-grey-dark-1;
    }
  
    & h1 {
      font-family: $font-primary; 
      font-size: 30px;
      color: $color-grey-light-1;
    }
  
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
  
    &__form {
      margin: 60px 0px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    animation: mymove 5s infinite;

    @keyframes mymove {
      0% {background-color: $banner-accent}
      50% {background-color: $banner-accent-2}
      100% {background-color: $banner-accent}
    }
    }
  
    &__summary {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 20px;
      margin-top: 30px;
  
      & h2 {
        font-weight: bold;
      }
  
      &__total {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
      }
  
      .ant-btn-primary {
        background-color: $color-primary;
        width: 100%;
      }
    }
  }
  
  .inline {
    display: flex;
    justify-content: space-between;
  
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
  
    & > * {
      width: 48%;
      @media only screen and (max-width: $bp-medium) {
        width: 100%;
      }
    }
  }
  
  .stripe-input {
    border: solid 1px #d9d9d9;
    padding: 7px;
  }