.dashboard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 1340px;
  margin: auto;

  &__header {
    margin: 60px 0px;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $color-grey-light-1;
    animation: mymove 5s infinite;

    @keyframes mymove {
      0% {background-color: $banner-accent}
      50% {background-color: $banner-accent-2}
      100% {background-color: $banner-accent}
    }

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    & h1 {
      font-family: $font-primary; 
      color: $color-grey-light-1;
    }
  }

  &__courses {
    & h1 {
      margin-left: 50px;
    }
  }
}